<h1>New Feed</h1>
<%=form_tag(tasks_path,{method:"get"})  do %>

<%= text_field_tag(:q) %>
<%= submit_tag("Search") %>
<%end%>


<% @tasks.reverse.each do |task|%>
<ul class="list-group">
<li class="list-group-item">
<% task.users.each do |user|%>
<% if task.users.first == user%>

<% elsif task.users.last == user%>
and 
<% else%>
,
<% end %>
<% if current_user == user%>
You
<%else%>
<%= link_to "#{user.name.titleize}", user_path(user) %>
<% end %>
<%end%> <%= (task.users.count == 1) && (current_user != task.users.first)? 'is' : 'are'%> going to <%= link_to "#{task.title.downcase}", task_path(task) %> on <%=task.month%>/<%=task.day%> at <%=task.location%>
 
</li>
</ul>
<%end%>
