<h1>New Feed</h1>


<% @tasks.each do |task|%>
<li>
<% task.users.each do |user|%>
<%=user.name%>
<%end%> <%= "is".pluralize(task.users.count)%> going to <%=task.title%> on <%=task.month%>/<%=task.day%> at <%=task.location%>
</li>
<%end%>
